/************************************************************
				Box Sizing
************************************************************/
.wpcolumn, .wpcolumns  {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.recent-post-slider * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}

/************************************************************
				Clearfix
************************************************************/
.wppsac-clearfix:before, .wppsac-clearfix:after{content: "";display: table;}
.wppsac-clearfix::after{clear: both;}
.wppsac-clearfix{clear: both;}

/************************************************************
				Slick slider
************************************************************/
.recent-post-slider{visibility: hidden; opacity:0; transition:opacity 0.5s linear;}
.recent-post-slider.slick-initialized { visibility: visible; opacity:1;}
.wppsac-hide{display:none;}
.recent-post-slider .slick-arrow{text-indent:-99999px;}
.recent-post-slider button.slick-arrow {background-color: transparent!important; cursor:pointer; width:30px; height:45px; position:absolute; z-index:9; border:0px !important;padding:0 !important; margin:0px !important; border-radius:0px !important;}
.recent-post-slider button.slick-next, .recent-post-slider button.slick-next:hover, .recent-post-slider button.slick-next:focus{background:rgba(0,0,0,0.5) url(arrow-right.png) center center no-repeat !important; background-size:25px 25px !important; outline:none !important; box-shadow: none;}
.recent-post-slider button.slick-prev, .recent-post-slider button.slick-prev:hover, .recent-post-slider button.slick-prev:focus{background:rgba(0,0,0,0.5) url(arrow-left.png) center center no-repeat !important; background-size:25px 25px !important;  outline:none !important; box-shadow: none;}
.recent-post-slider .slick-dots{padding:0; margin:0; position:absolute;  text-align:center;}
.recent-post-slider .slick-dots li button{text-indent:-99999px;}
.recent-post-slider .slick-dots li {list-style:none !important; display:inline-block !important; margin:0 2px !important; padding:0px !important;}
.recent-post-slider .slick-dots li button{background:#fff !important; margin:0px !important; padding:0px !important; border:1px solid #000; border-radius:50% !important; width:13px !important; height:13px !important;}
.recent-post-slider .slick-dots li button:focus{outline:none !important}
.recent-post-slider button:active{box-shadow: none;}
.recent-post-slider .slick-dots li.slick-active button{background:#444 !important;}
.recent-post-slider .slick-slide{padding:0px !important}
.post-overlay{ position:relative;}
.recent-post-slider .wp-post-content a.readmorebtn {padding: 3px 10px;border: 1px solid #e7e7e7;text-decoration: none;margin: 5px 0;}
.wp-post-content {padding-bottom: 10px;}
.wp-sub-content {padding-bottom: 10px;}
.recent-post-slider h2.wp-post-title{margin:5px 0 !important; line-height:22px;}
.recent-post-slider h2.wp-post-title a{font-size:22px; line-height:22px;}
.recent-post-slider .wp-post-date{margin-bottom:10px; position:relative; font-size:13px;}
.recent-post-slider .wp-post-date::after {  background: #e96656; bottom: -4px;content: "";height: 2px; left: 0; margin: auto ; position: absolute; width: 50px; z-index: 1;}
.recent-post-slider .recentpost-categories ul.post-categories{margin:0px 0px 10px 0 !important; padding:0px !important; list-style:none !important; font-size: 0;}
.recent-post-slider .recentpost-categories ul.post-categories li{display:inline-block !important; margin: 2px !important; padding: 0 !important;}
.recent-post-slider .recentpost-categories ul.post-categories li a{padding:5px 13px; text-transform:uppercase; font-size:11px; text-decoration:none; color: #fff; display: block; line-height: normal;}
.recent-post-slider .recentpost-categories ul.post-categories li:nth-child(4n+1) a{background:#1abc9c;}
.recent-post-slider .recentpost-categories ul.post-categories li:nth-child(4n+2) a{background:#3498db;}
.recent-post-slider .recentpost-categories ul.post-categories li:nth-child(4n+3) a{background:#e74c3c;}
.recent-post-slider .recentpost-categories ul.post-categories li:nth-child(4n+4) a{background:#34495e;}

.recent-post-slider .post-image-bg img{height: 100%;width: 100%;object-fit: cover;object-position: top center;border-radius: 0px;}

/***************Design-1**************/
.recent-post-slider.design-1 .post-content-position{position:relative} 
.recent-post-slider.design-1 .post-content-left{position:absolute !important; left:0; bottom: 0px; background:rgba(0, 0, 0, 0.5); z-index:999; color:#fff;}
.recent-post-slider.design-1 .post-content-left a {color:#fff;}
.recent-post-slider.design-1 .post-content-left{padding: 20px 20px 35px 20px;}
.recent-post-slider.design-1 .post-image-bg{background: #f1f1f1;height: 350px; line-height: 0; overflow: hidden; position: relative; width: 100%;}
.recent-post-slider.design-1 .wp-post-content p{color:#fff;}
.recent-post-slider.design-1 .slick-arrow {bottom:0px !important; top:auto !important;}
.recent-post-slider.design-1 .slick-next{right:0px !important;}
.recent-post-slider.design-1 .slick-prev{right:31px !important; left:auto !important;}
.recent-post-slider.design-1 .slick-dots{left:15px !important;  bottom:2px !important;}

/***************Design-2**************/
.recent-post-slider.design-2 .post-content-position{position:relative;}
.recent-post-slider.design-2 .post-content-left{position:absolute !important; left:0; top:0; bottom:0; background:rgba(0, 0, 0, 0.5); z-index:999; color:#fff;}
.recent-post-slider.design-2 .post-content-left a{color:#fff;}
.recent-post-slider.design-2 .post-content-left{padding: 33px 20px;}
.recent-post-slider.design-2 .post-image-bg{background: #f1f1f1;height: 350px; line-height: 0; overflow: hidden; position: relative; width: 100%;}
.recent-post-slider.design-2 .wp-post-content p{color:#fff;}
.recent-post-slider.design-2 .slick-arrow {bottom:0px !important; top:auto !important;}
.recent-post-slider.design-2 .slick-next{right:0px !important;}
.recent-post-slider.design-2 .slick-prev{right:31px !important; left:auto !important;}
.recent-post-slider.design-2 .slick-dots{left:15px !important;  bottom:2px !important;}
.recent-post-slider.design-2 .recentpost-inner-content {width: 100%; max-height: 100%; overflow: hidden;}

/***************Design-3**************/
.recent-post-slider.design-3 .post-image-bg{background: #f1f1f1;height: 350px;line-height: 0; overflow: hidden; position: relative; width: 100%;}
.recent-post-slider.design-3 .post-short-content{height: 46%;clear:both; background: rgba(51, 51, 51, 0.5);bottom: 0; color: #fff; left: 0; padding: 15px 30px 35px 30px; position: absolute; right: 0; transition: all 0.5s ease-in-out 0s;}
.recent-post-slider.design-3 .wp-post-content	{ opacity: 0; height:0; transition: all 0.5s ease-in-out 0s;}
.recent-post-slider.design-3 .post-overlay:hover > .post-short-content .wp-post-content{opacity:1;height:auto;}
.recent-post-slider.design-3 .post-overlay:hover > .post-short-content {height:70%;}
.recent-post-slider.design-3 .recentpost-categories{left: 0;top: 0px;position: absolute;}
.recent-post-slider.design-3 .recentpost-categories ul.post-categories li{margin: 0 2px 2px 0 !important;}
.recent-post-slider.design-3 h2.wp-post-title a,
.recent-post-slider.design-3 .wp-post-content a.readmorebtn,
.recent-post-slider.design-3 .wp-post-content p{color: #fff;}
.recent-post-slider.design-3 .slick-arrow {bottom:0px !important; top:auto !important;}
.recent-post-slider.design-3 .slick-next{right:0px !important;}
.recent-post-slider.design-3 .slick-prev{right:31px !important; left:auto !important;}
.recent-post-slider.design-3 .slick-dots{left:15px !important; bottom:2px !important;}

/***************Design-4**************/
.recent-post-slider.design-4 .post-list-content, .recent-post-slider.design-4 .post-list{width:100%; float:left; clear:both;}
.recent-post-slider.design-4 .post-list-content .wp-post-title a{color:#444; text-decoration:none;}
.recent-post-slider.design-4 .post-image-bg{background: #f1f1f1;height: 230px !important;line-height: 0; overflow: hidden; position: relative; width: 100%;}
.recent-post-slider.design-4 .recentpost-categories {margin-top: 0;}
.recent-post-slider.design-4 .recentpost-categories a{color:#fff;}
.recent-post-slider.design-4 .wp-medium-5{padding: 0px 10px 0 0;}
.recent-post-slider.design-4 .post-list-content .wp-medium-7{padding:10px 35px 10px 15px;}
.recent-post-slider.design-4 .slick-arrow{top:50% ;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);}
.recent-post-slider.design-4 .slick-next{right:0px !important;}
.recent-post-slider.design-4 .slick-prev{left:0px !important;}
.recent-post-slider.design-4 .slick-dots{left: 0;right: 0;}
.recent-post-slider.design-4 .wp-post-content a.readmorebtn {color: #444; border-color: #444;}

.wpcolumn,
.wpcolumns {  padding-left: 0.9375em;  padding-right: 0.9375em; width:100%; float: left;  position: relative; }

 @media only screen and (max-width: 768px) { 
 .recent-post-slider.design-1 .post-image-bg img, .recent-post-slider.design-2 .post-image-bg img, .recent-post-slider.design-3 .post-image-bg img{max-width:700px !important}
 }
 
 @media only screen and (max-width: 500px) { 
 .recent-post-slider.design-1 .post-image-bg img, .recent-post-slider.design-2 .post-image-bg img, .recent-post-slider.design-3 .post-image-bg img{max-width:600px !important}
 .recent-post-slider.design-1 .wp-post-content,  .recent-post-slider.design-2 .wp-post-content,  .recent-post-slider.design-3 .wp-post-content{display:none}
 }

@media only screen {
  .wpcolumn,  .wpcolumns {position: relative;padding-left: 0.9375em;padding-right: 0.9375em; float: left; }
}
 @media only screen and (min-width: 40.0625em) {  
  .wpcolumn,
  .wpcolumns {position: relative;padding-left: 0.9375em;padding-right: 0.9375em;float: left; }

  .wp-medium-1 {width: 8.33333%;}
  .wp-medium-2 {width: 16.66667%;}
  .wp-medium-3 {width: 25%;}
  .wp-medium-4 {width: 33.33333%;}
  .wp-medium-5 {width: 41.66667%;}
  .wp-medium-6 {width: 50%;}
  .wp-medium-7 {width: 58.33333%;}
  .wp-medium-8 {width: 66.66667%;}
  .wp-medium-9 {width: 75%;}
  .wp-medium-10 {width: 83.33333%;}
  .wp-medium-11 {width: 91.66667%;}
  .wp-medium-12 {width: 100%;}

  .medium-offset-0 {margin-left: 0 !important;}
  .medium-offset-1 {margin-left: 8.33333% !important;}
  .medium-offset-2 {margin-left: 16.66667% !important;}
  .medium-offset-3 {margin-left: 25% !important;}
  .medium-offset-4 {margin-left: 33.33333% !important;}
  .medium-offset-5 {margin-left: 41.66667% !important;}
  .medium-offset-6 {margin-left: 50% !important;}
  .medium-offset-7 {margin-left: 58.33333% !important;}
  .medium-offset-8 {margin-left: 66.66667% !important;}
  .medium-offset-9 {margin-left: 75% !important;}
  .medium-offset-10 {margin-left: 83.33333% !important;}
  .medium-offset-11 {margin-left: 91.66667% !important;}
}